<!DOCTYPE html>
Welcome to spaces
<%= flash[:notice] %>
<html>
<head>
  <link rel="stylesheet" href="Makersbnb_main_style.css">
</head>


<body>
<ul>
  <li><a href="/user/new">Signup</a></li>
  <li><a href="/user">Login</a></li>
  <li><a class="active" href="/spaces">Spaces</a></li>
</ul>

<body class="class-for-index">
  <h3> Welcome to SpaceJam</h3>
  <h4> Bed n Breakfast </h4>
</body>

<h3> List of spaces </h3>

<div class="grid-container">
  <% @spaces.each do |space| %>
  <div class="grid-item">
    <p class="space" id="space">
    <%= space.title %>
    <br>
    £<%= space.price %>
    <br>
    <%= space.description %>
    <br>
    <%= space.user.email %>
    <br>

    <% if space.available? %>
      <form action='/booking/<%= space.id %>/new'>
        <input type='submit' value='Available'>
      </form>
    <% else %>
      Booked
    <% end %>
  </div>
  <% end %>
</div>


</html>
