
<!DOCTYPE html>
<html lang="en">
<style>
  input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 52px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=submit] {
    background-color: rgb(119, 119, 119);;
    border: none;
    color: white;
    padding: 12px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

</style>
<head>
  <title>User spaces</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<form action='/user/destroy' method='post'>
  <input type='submit' value='Log out'>
</form>
<body>
<html>
<div class="container">
  <h2>Your Spaces</h2>
  <p> Welcome, <%= @user.email%> Manage your spaces:</p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Ref</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Available</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @spaces.each do |space| %>
        <tr class="space">
          <td><%= space.id %></td>
          <td><%= space.title %></td>
          <td><%= space.price %></td>
          <td><%= space.description %></td>
          <td>
            <% if space.available? %>
              <form action='/booking/<%= space.id %>/new'>
                <input type='submit' value='Available'>
              </form>
            <% else %>
              Booked
            <%end%>
          </td>
          <td>
            <form action='/spaces/delete/<%= space.id %>' method="post">
              <input type='hidden' name='_method' value="DELETE" />
              <input type='submit' value='Delete space'>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<form action='/spaces/new'>
  <input type='submit' value='Add space'>
</form>

</body>
</html>
